<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bozeman's taco shop serving unique, made-from-scratch tacos, \
    nachos, and freshly made salsas.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taco Montes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load staticfiles %}
</head>
<body>
    <div class="jumbotron-fluid">
        <h1>Media</h1>
        <ul class="nav">
            <li class="nav-item">
            <a class="nav-link active" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/media">Media</a>
            </li>
        </ul>
        <img src={% static "Taco_Montes.jpg" %}>
      </div>
</body>
</html>